<link href="http://cdn.staticfile.org/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
<link href="http://cdn.staticfile.org/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">

<%= stylesheet_link_tag "jquery.qeditor.css" %>
<%= javascript_include_tag "jquery.qeditor.js" %>

<div class="leftbox">
  <div class="left_wrapper">

    <% form_for (:post,@post,:url=>{:controller=>'cpanel/posts',:action => (@post.id.blank? ? 'create' : 'update') } ) do |f| %>

        <table width="100%">
          <tr width="100%">
            <td class="name">标题:</td>
            <td class="value">
              <%= f.text_field :title %>
              <%= @post.id.blank? ? '' : (f.hidden_field :id) %>
            </td>
          </tr>
          <tr width="100%">
            <td class="name">作者:</td>
            <td class="value">
              <%= f.text_field :author,:value=>"#{session[:user].username}",:readonly=>true %>
            </td>
          </tr>
          <tr width="100%">
            <td class="name">摘要:</td>
            <td class="value">
              <%= f.text_field :abstract %>
            </td>
          </tr>
          <tr>
            <td class="name">标签:</td>
            <td class="value">
              <% fields_for :tags do |tag| %>
                  <%= tag.text_field :tag_name,:placeholder=>"只支持一个标签" %>
              <% end %>
            </td>
          </tr>
          <tr width="100%">
            <td class="name" style="border:0px solid; vertical-align:top;">内容:</td>
            <td class="value" style="border:0px solid #3322ff; vertical-align:top;">
              <%= f.text_area :content,:class=>"textarea",:id=>"post_body",:placeholder=>"写下你的生活" %>
            </td>
          </tr>
          <tr width="100%">
            <td class="name"></td>
            <td><button type="submit" class="button small left submit">
              <%= @post.id.blank? ? '保存' : '更新' %>
            </button></td>
          </tr>
        </table>
    <% end %>
  </div>
</div>

<script type="text/javascript">
    try{
        $("#post_body").qeditor({});
    }catch(e){
        alert(e.message);
    }

    var toolbar = $("#post_body").parent().find(".qeditor_toolbar");
    var link = $("<a href='#'><span class='icon-file'></span></a>");
    toolbar.append(link);
    link.click(function(){
        return Posts.dropdown_menu(this);
    });
</script>


<div style="display:none" id="post_img_upload">

  <div id="redirect_ask_panel" class="facebox_window simple_form">
    <h2>上传文件</h2>
   <% form_for (:post,@post,:url=>{:controller=>'cpanel/posts',:action=>'upload'},:html=>{:multipart => true,:target=>'img_upload_ifm',:name=>'img_upload_form'} ) do |f| %>
      <div class="field">
        <label>本地上传&nbsp;或&nbsp;引用外站图片:</label>
        <%=f.file_field :image ,:class=>'img_input' %>
      </div>
      <div class="actions">
        <button type="button" onclick="Posts.upload_img(this);">确定</button>
        <a style="margin-left:10px;" onclick="$.facebox.close(); return false;" href="#">取消</a>
      </div>
   <% end %>
    <!--用iframe实现无刷新上传-->
   <iframe name="img_upload_ifm" style="display: none;" />
  </div>

</div>