<!--
<script type="text/javascript">
	$(document).ready(function(){
		$(".item").mouseover(function(){
			$(".hoverClass").removeClass("hoverClass");
			$(this).addClass("hoverClass");
		}).mouseout(function(){
			$(this).removeClass("hoverClass");
		});	
	});	
</script>
-->

<script type="text/javascript">

	function doDestroy(){
		if(window.confirm('Are you sure?')){
			document.form1.action = "/post/destory";
			document.form1.submit();
		}		
	}

	function doEdit(){
		document.form1.action = "/post/edit";
		document.form1.submit();
	}


</script>


<div class="leftbox"> 
<div class="left_wrapper"> 
	<div class="box" > 
    <h1>文章</h1> 
</div>
 
<% form_for :post,:html=>{:name=>"form1"} do |f| %>

<div class="contentArea">
	<table width="100%">
		<tr height="50px">
			
			<td width="5%">  <%= f.check_box :ids %> </td>

			<td width="40%">标题</td>
			<td width="10%" >作者</td>
			<td width="30%" >发布时间</td>
            <td width="10">标签</td>
			<td width="5%" >状态</td>
		</tr>
		
		<% @posts.each do |post| %>
		
		<tr height="40px" class="item">
			
			<td>  <%=check_box_tag "ids[]",post.id %>  </td>

			<td class="title"><%= post.title %></td>
			<td class="author"><%= post.author %></td>
			<td class="publishTime"><%= post.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
		    <td class="tags">
		    	<% post.tags.each do |tag| %>
		    		<%= tag.tag_name %>	
		    	<% end %>		    	
		    </td>
        	<td class="status"><%= post.enabled %></td>
		</tr>
		
		<% end %>		
	</table>
</div>


</div> 
 

	 
<!--侧边栏 开始 -->
<div class="sidebar" > 
<div class="box"> 
<h2>文章操作</h2> 
  <a href="/post/new">发布文章</a><br /> 
<div class="inner" style="line-height:180%;padding:0px;background:#fff5c9;"> 
  <a href="/post/index">所有文章</a><br /> 
</div>
  <a href="javascript:void(0);" onclick="doEdit()">编辑文章</a><br />
  <a href="javascript:void(0);" onclick="doDestroy()">删除文章</a><br/>   
  
</div> 
</div> 
<!-- 侧边栏结束 -->

<% end %>