<!-- tinymce3.5.8 setup -->
<script type="text/javascript" src="/javascripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
  tinymce.init({ 
	mode : "textareas",
   	theme : "advanced", 
   	language:"cn",
	plugins : "syntaxhl,fullscreen", 
	theme_advanced_buttons1 : "bold,italic,underline,undo,redo,link,unlink,image,forecolor,removeformat,cleanup,code,fullscreen,syntaxhl",
	theme_advanced_buttons2 : "", 
	theme_advanced_buttons3 : "", 
	theme_advanced_resizing : true,
	remove_linebreaks : false, 
	extended_valid_elements : "textarea[cols|rows|disabled|name|readonly|class]"
 });
</script>


<script type="text/javascript">
	function goBack(){
		//window.history.go(-1);
		window.location.href="/admin/panel";
	}	  
</script>	

<div class="leftbox"> 
<div class="left_wrapper"> 
	<div class="box" > 
    <h1>发布文章</h1> 
</div>
 	
	<% form_for (:post,@post,:url=>{:controller=>'post',:action=>'create'}) do |f| %>
	
	<table width="100%">
		<tr width="100%">
			<td class="name">标题:</td>
			<td class="value">
				<%= f.text_field :title %>
			</td>
		</tr>
		<tr width="100%">
			<td class="name">作者:</td>
			<td class="value">
				<%= f.text_field :author,:value=>"#{session[:user].username}" %>
			</td>
		</tr>
		<tr width="100%">
			<td class="name">摘要:</td>
			<td class="value">
				<%= f.text_field :abstract %>
			</td>
		</tr>
		<tr width="100%">
			<td class="name">类别:</td>
			<td class="value">
				<%= f.text_field :category %>
			</td>
		</tr>
		<tr width="100%">
			<td class="name">是否有效:</td>
			<td class="value">
				<%= f.text_field :enabled %>
			</td>
		</tr>
		<tr width="100%">
			<td class="name" style="border:0px solid; vertical-align:top;">内容:</td>
			<td class="value" style="border:0px solid #3322ff; vertical-align:top;">

              <%= f.text_area :content   %>

            </td>
		</tr>
	 
	</table>
	
	<div class="actions">
    	<button type="submit" class="button submit">保存</button>
	</div> 
	
	<% end %>
</div> 
 

	 
 <!--侧边栏 开始 -->
<div class="sidebar" > 
<div class="box"> 
	 <h2>文章操作</h2> 
    <div class="inner" style="line-height:180%;padding:0px;background:#fff5c9;"> 
      <a href="/post/new">发布文章</a> <br/>
    </div>
      <a href="/post/index">所有文章</a><br/> 
</div> 
</div> 
<!-- 侧边栏结束 -->




