 <% @posts.each do |post| %>

<!--  head beging -->
  <header class="entry-header">
    <h1 class="entry-title">
      <a href="blog/show/<%= post.id%>#more" title="<%= post.title %>" rel="bookmark">
        <%= post.title %> 
      </a>
    </h1>
   
    <div class="entry-meta">
      <span class="sep">Posted on </span>     
        <%= post.created_at.strftime("%Y-%m-%d %H:%M:%S")  %>      
      <span class="sep"> | </span>
      
      <span class="by-author">
        <span class="sep"> by </span>
        <span class="author vcard">
          <a class="url fn n" href="#" title="View all posts by <%= post.author  %>" rel="author">
				<%= post.author  %>          
          </a>
        </span>
      </span>
    </div>
   
  </header>
<!--  head end -->

  <div class="entry-content">
    <p> 
     <%= truncate_html(300,"....",post.content) %>
    </p>
  </div>


  <footer class="entry-meta">
    <span class="cat-links">
      <span class="entry-utility-prep entry-utility-prep-cat-links">Tag</span>      
 	     
        <% post.tags.each do |tag| %>
        <a href="#" title="View all posts in <%=tag.tag_name %>" rel="category">      
          <%= tag.tag_name %>&nbsp; 
        </a>  
        <% end %>  
            
      
    </span>
    <span class="sep">|</span>
    <span class="comments-link">
      <a href="#" title="Comment on <%=post.title %>"><b>0</b> Comments</a>
    </span>
  </footer><!-- #entry-meta -->
 <hr/>
 
	<% end %>  
  
