<div class="left_wrapper"> 
	<div class="leftbox"> 
		<div class="box"> 
			<h1>注册网站用户</h1>
			
			<% form_for (:user,:url => {:controller=>"cpanel/users",:action=>:create} ) do |form| %>
				
			<!--	<form action="/admin/registed" method="post" id="user_new"> -->
					
					<div class="row string required">
						<label>用户名</label><br/>
						<%= form.text_field :username %>
					</div>
					<br/>
			        <div class="row string email required">
			        	<label>邮箱 </label><br/>
						<%= form.text_field :email%>
					</div>
					<br/>
			        <div class="row password required">
			        	<label>密码 </label><br/>
						<%= form.password_field :password %>
					</div>
			        <br/>
					<div class="row password optional">
			        	<label>确认密码 </label><br/>
						<%= form.password_field :password_confirmation %>
					</div> 
					<br/>
					
			        <div class="actions">
			        	<button type="submit" class="button submit">提交注册信息</button>
						<!--<%= submit_tag "提交注册信息",:class=>"button submit" %>-->
					</div>
					
				<!--</form> -->
					
		<% end %>
		
		</div>
	</div>
</div>

 <!--侧边栏 开始 -->
      <div class="sidebar"> 
       <div class="box"> 
   		 <h2>已经有帐号了？</h2> 
		  <a href="/login">登陆</a><br />
		  <a href="/forgetPasswd">忘记了密码?</a><br /> 
	   </div> 
  
	  <div class="box" id="omniauth_links" style="display:block;"> 
	  <h2>关于注册</h2> 
	     这里注册的用户只能用于文章的发布，不能进行admin相关操作！
	   </div> 


	</div> 
	  <!-- 侧边栏结束 -->