<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html> 
<head> 
  <meta http-equiv="content-type" content="text/html; charset=utf-8"> 
  <title>Blog | 杨昌明的美好生活</title> 
 
  <%= javascript_include_tag "jquery.min.js" %>
  <%= stylesheet_link_tag "login" %>	 

  <style>
		<%= yield:panel_css %>
  </style>

   
  <% javascript_tag do %>
  	<% if flash[:notice] %>
	  	$(document).ready(function(){
				fadein();
				fadeout();
			
		});
	<% end %>	
  
  	function fadein(){
		$('.message').fadeIn(800);
	}
  
  	function fadeout(){
		$('.message').fadeOut(2500);
	}
  
  <% end %>
  
	<script type="text/javascript">
  		<%= yield:panel_js %>
	</script>	
 
	<script type="text/javascript">
  		var _gaq = _gaq || [];
  	_gaq.push(['_setAccount', 'UA-36330309-1']);
  	_gaq.push(['_trackPageview']);
  	(function() {
   	 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
 	 })();

	</script> 
 
</head> 

<body> 

<!-- 页头部分 -->
  <div id="header"> 
    <div class="container"> 
	
      <div class="left_wrapper"> 
         <div id="site_name">
         <a href="/" class="logo">Blog</a>
        </div>
        <!--<div id="add_ask">-->
          <!--<input type="text" placeholder="搜索问题，话题，会员" />-->
        <!--</div>-->
      </div> 
	  
      <div class="sidebar"> 
        <div id="user_bar"> 
			<% if !session[:user] %>
				<a href="/byself">随便看看</a> 
				<a href="/admin">登陆</a>
	            <a href="/admin/register">注册</a>
			<% end %>
			<% if session[:user] %>
	            <a href="/">首页</a> 
				<a href="/admin/setup"><%= session[:user].username %></a>
				<a href="/admin/setup">设置 </a>
				<a href="/admin/logout">注销</a>
			<% end %>
        </div> 
      </div> 
	  
    </div> 
  </div> 
  
  <!-- 消息通知 starting -->
  <% if flash[:notice] %>
		<div class="message">
			<%= flash[:notice]%>
		</div>
  <% end %>
  <!-- 消息通知 end -->
  
  <!-- 页面主体内容区域 开始 -->
  <div id="main"> 
    <div class="container"> 
	  <%= yield %>
    </div> 
  </div> 
  <!-- 页面主体内容区域 结束 -->
 
  <!-- 页脚部分 begining -->
  <div id="footer"> 
    <div class="container"> 
      <div class="inner">        
        <div class="copyright"> 
          &copy;&nbsp;2011-2013&nbsp;By&nbsp;<a target="_blank" href="http://weibo.com/changmingy">@昌明点杨</a>
        </div> 
      </div> 
	  
    </div> 
  </div> 
  <!-- 页脚部分 ending  -->
  
  <!-- 这部分代码css样式不错，保留
  <div id="hidden_new_ask"> 
    <h2>创建新问题</h2> 
    <form action="/asks" method="post" id="inner_new_ask">       
      <textarea type="text" name="ask[title]" class="title" placeholder="在这里输入问题"></textarea>  
      <button type="submit" class="submit">添加问题</button> 
      <button type="submit" class="submit">取消</button> 
    </form> 
  </div> 
  
  <div id="loading"> 
    <div class="logo"></div> 
    <div class="text">加载中…</div> 
  </div>
  -->
  
</body> 
</html>
