<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
	
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <meta http-equiv=Content-Type content='text/html; charset=utf-8'/>
        
		<%= stylesheet_link_tag  "Page-1","Common","ContentRelated" ,"Part","Part-1","Dialog","tipped" %>
        <%= javascript_include_tag "jquery.min.js","common.js","tipped.js" %>
		
		<style>
			<%= yield:layout_css %>
		</style>
		
		<script type="text/javascript">
  			var _gaq = _gaq || [];
  			_gaq.push(['_setAccount', 'UA-36330309-1']);
  			_gaq.push(['_trackPageview']);
  			(function() {
   			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
 			 })();
		</script>		
		
		<script type="text/javascript">
			<%= yield:layout_js %>
		</script>
		
		<title>颗米教育科技(贵阳)</title>
		<link rel="shortcut icon" href="/images/logoHead.png" />
   
 </head>
	
    <body class="onecolumnpage-out">
			
			<div class="page">
				
				<!-- 导航 开始 -->
                <div class="header">
                    <div class="welcome" align="center" style="border:0px solid #3b5999;">
                    </div>
                    <div class="logo">
                        <a id="ctl00_logo" href="index.htm"> </a>
                    </div>
                    <!--  主菜单项 table-->
                    <table id="ctl00_sitemapa" class="sitemapa ctl00_sitemapa_2" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <!-- css根据id<ctl00_sitemapan0>来在td中加载图片 -->
							<!-- 首页 -->
                            <td id="ctl00_sitemapan0"  >
                                <table class="item ctl00_sitemapa_4" cellpadding="0" cellspacing="0" border="0" width="100%">
                                    <tr>
                                        <td style="white-space:nowrap;">
											<%= link_to  '',{:controller=>'index',:action=>'index'}  %>
										</td>
                                    </tr>
                                </table>
                            </td>
                            <td style="width:0px;">
                            </td>
                            <td style="width:0px;">
                            </td>
							<!-- 最新动态 -->
                            <td  id="ctl00_sitemapan1">
                                <table class="item ctl00_sitemapa_4" cellpadding="0" cellspacing="0" border="0" width="100%">
                                    <tr>
                                        <td style="white-space:nowrap;">
										   <%= link_to('',{:controller=>'index',:action=>'news'}) %>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td style="width:0px;">
                            </td>
                            <td style="width:0px;">
                            </td>
							<!-- 课程设置 -->
                            <td  id="ctl00_sitemapan2">
                                <table class="item ctl00_sitemapa_4" cellpadding="0" cellspacing="0" border="0" width="100%">
                                    <tr>
                                        <td style="white-space:nowrap;">
                                       		<%=link_to('',{:controller=>'index',:action=>'course'})%>	
									    </td>
                                    </tr>
                                </table>
                            </td>
                            <td style="width:0px;">
                            </td>
                            <td style="width:0px;">
                            </td>
							<!-- 项目演示  -->
                            <td id="ctl00_sitemapan3" >
                                <table class="item ctl00_sitemapa_4" cellpadding="0" cellspacing="0" border="0" width="100%">
                                    <tr>
                                        <td style="white-space:nowrap;">
                                       		<%=link_to('',{:controller=>'index',:action=>'project'})%>
									    </td>
                                    </tr>
                                </table>
                            </td>
                            <td style="width:0px;">
                            </td>
                            <td style="width:0px;">
                            </td>
							<!-- F&Q -->
                            <td id="ctl00_sitemapan4" >
                                <table class="item ctl00_sitemapa_4" cellpadding="0" cellspacing="0" border="0" width="100%">
                                    <tr>
                                        <td style="white-space:nowrap;">
											<%=link_to('',{:controller=>'index',:action=>'faq'})%>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td style="width:0px;">
                            </td>
                            <td style="width:0px;">
                            </td>
							<!-- 联系我们 -->
                            <td id="ctl00_sitemapan5" >
                                <table class="item ctl00_sitemapa_4" cellpadding="0" cellspacing="0" border="0" width="100%">
                                    <tr>
                                        <td style="white-space:nowrap;">
											<%=link_to('',{:controller=>'index',:action=>'contact_us'})%>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td style="width:0px;">
                            </td>
                            <td style="width:0px;">
                            </td>
							<!-- 教师阵容 -->
                            <td  id="ctl00_sitemapan6">
                                <table class="item ctl00_sitemapa_4" cellpadding="0" cellspacing="0" border="0" width="100%">
                                    <tr>
                                        <td style="white-space:nowrap;">
                                       		<%=link_to('',{:controller=>'index',:action=>'teachers'})%>
									    </td>
                                    </tr>
                                </table>
                            </td>
                            <td style="width:0px;">
                            </td>
                            <td style="width:0px;">
                            </td>
							<!-- 学生社区 -->
                            <td  id="ctl00_sitemapan7">
                                <table class="item ctl00_sitemapa_4" cellpadding="0" cellspacing="0" border="0" width="100%">
                                    <tr>
                                        <td style="white-space:nowrap;">
                                            <a class="ctl00_sitemapa_1 item ctl00_sitemapa_3" href="/admin/panel" style="border-style:none;font-size:1em;"></a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td style="width:0px;">
                            </td>
                        </tr>
                    </table>
                    <a id="ctl00_sitemapa_SkipLink"></a>
                </div>
				<!-- 导航 结束 -->
				
                <!-- 主体部分  start-->
                <div class="body">
                    <div class="body-t">
                        <div class="body-b">
                            <div id="ctl00_upContent">
                                <!-- topbar -->
                                <div class="topbar" style="border:0px solid #3b5999;">
                                </div>
                                <div>
                                    <div class="sidebar" style="border:0px solid #3b5999;">
									</div>
                                    <div class="rightbar" style="border:0px solid #3b5999;">
									</div>
									
                                    <!-- 内容区域 -->
									<div class="content" style="border:0px solid #3b5999;">
                                   		<%= yield %>
								   	</div>
								   
                                    <!-- 清除浮动层 -->
                                    <div class="clear">
                                    </div>
                                </div>
                                <div class="bottombar">
                                </div>
								
                                <!-- 根据class，css对该div进行修饰   (浮动div 通知区域 )-->
								<div id="ctl00_Main_FloatPanel" class="floatbar" style="border:0px solid #000000;display:none;" >
                                    <div id="info">
                                    	<!--
                                        <img id="ctl00_Main_btnClose" class="closeIcon" alt="notice" src="/images/close.png" style="border-width:0px" />
                                        -->
										<table cellspacing="0" cellpadding="0" border="0" id="ctl00_Main_FloatZone" class="webpartzone" style="width:100%;">
                                            <tr>
                                                <td style="height:100%;">
                                                    <table cellspacing="0" cellpadding="0" border="0" style="width:100%;height:100%;">
                                                        <tr>
                                                            <td>
                                                                <table id='WebPart_wp1169850657' class='webpartchrome' cellpadding='0' cellspacing='0'>
                                                                    <tr>
                                                                        <td>
                                                                            <div class='webpart-body'>
                                                                                <p>
                                                                                   <!--
																				    <a href="whatsnew.aspx.htm"><img src="/images/summer.PNG" tppabs="http://www.laoluo.com.cn/files/summer.PNG" border="0" alt="2011秋季班" width="200" height="200" /></a>
                                                                                   -->
																			   		<!-- Facebook Badge START -->
																					<a href="http://zh-cn.facebook.com/changming.yang" target="_TOP" title="杨昌明">
																					<!--	<img src="http://badge.facebook.com/badge/100002068911495.415.220781021.png" style="border: 0px;" /> -->
																					</a>
																					<!-- Facebook Badge END -->	
																			   
																			    </p>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding:0;height:100%;">
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
								<!-- 浮动div结束 -->
								
								<!-- 中间控制带区域
                                <div id="ControlBar" class="controlbar" style="display:block;background-color:#003399;">
								</div>
                                -->
								
								<!-- 消息对话框START -->
								<!--
								<div id="ctl00_MessagePanel" style="display:block;" onkeypress="javascript: return WebForm_FireDefaultButton(event, 'ctl00_OKButton')">
                                    <div class="dialog">
                                        <div class="dialog-header">
                                            <span id="ctl00_MessageTitleLabel">Facebook</span>
                                        </div>
                                        <div class="dialog-body">
                                            <div class="dialog-message">
                                                <span id="ctl00_MessageLabel">这是消息内容?</span>
                                            </div>
                                            <div class="dialog-buttons">
                                                <input type="button" name="ctl00$OKButton" value="确认" onclick="javascript: alert('信我啊！我是春哥！');  return false;__doPostBack('ctl00$OKButton','')" id="ctl00_OKButton" class="button" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
								-->
								<!--消息对话框END -->
								
								
                            </div>
                        </div>
                    </div>
                </div>
				<!-- 主体内容部分END -->
              
			    <!-- 页脚部分 starting -->
                <div class="footer">
                    <table id="ctl00_sitemapb" class="sitemapb ctl00_sitemapb_2" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td  id="ctl00_sitemapbn0">
                                <table class="item ctl00_sitemapb_4" cellpadding="0" cellspacing="0" border="0" width="100%">
                                    <tr>
                                        <td style="white-space:nowrap;">
                                            <a class="ctl00_sitemapb_1 item ctl00_sitemapb_3" href="/"  style="border-style:none;font-size:1em;">首页</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td style="width:0px;">
                            </td>
                            <td style="width:0px;">
                            </td>
                            <td  id="ctl00_sitemapbn1">
                                <table class="item ctl00_sitemapb_4" cellpadding="0" cellspacing="0" border="0" width="100%">
                                    <tr>
                                        <td style="white-space:nowrap;">
                                            <a class="ctl00_sitemapb_1 item ctl00_sitemapb_3" href="/index/news" style="border-style:none;font-size:1em;">最新动态</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td style="width:0px;">
                            </td>
                            <td style="width:0px;">
                            </td>
                            <td  id="ctl00_sitemapbn2">
                                <table class="item ctl00_sitemapb_4" cellpadding="0" cellspacing="0" border="0" width="100%">
                                    <tr>
                                        <td style="white-space:nowrap;" >
											<a class="ctl00_sitemapb_1 item ctl00_sitemapb_3" href="/index/course">课程设置</a>
										</td>
                                    </tr>
                                </table>
                            </td>
                            <td style="width:0px;">
                            </td>
                            <td style="width:0px;">
                            </td>
                            <td  id="ctl00_sitemapbn3">
                                <table class="item ctl00_sitemapb_4" cellpadding="0" cellspacing="0" border="0" width="100%">
                                    <tr>
                                        <td style="white-space:nowrap;">
                                            <a class="ctl00_sitemapb_1 item ctl00_sitemapb_3" href="/index/faq" style="border-style:none;font-size:1em;">关于颗米</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td style="width:0px;">
                            </td>
                            <td style="width:0px;">
                            </td>
                            <td  id="ctl00_sitemapbn4">
                                <table class="item ctl00_sitemapb_4" cellpadding="0" cellspacing="0" border="0" width="100%">
                                    <tr>
                                        <td style="white-space:nowrap;">
                                            <a class="ctl00_sitemapb_1 item ctl00_sitemapb_3" href="/#"  style="border-style:none;font-size:1em;">就业情况</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td style="width:0px;">
                            </td>
                            <td style="width:0px;">
                            </td>
                            <td  id="ctl00_sitemapbn5">
                                <table class="item ctl00_sitemapb_4" cellpadding="0" cellspacing="0" border="0" width="100%">
                                    <tr>
                                        <td style="white-space:nowrap;">
                                            <a class="ctl00_sitemapb_1 item ctl00_sitemapb_3" href="/index/contact_us" tppabs="http://www.laoluo.com.cn/Comment/MessageBoard.aspx?#commentPost" style="border-style:none;font-size:1em;">在线留言</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td style="width:0px;">
                            </td>
                            <td style="width:0px;">
                            </td>
                            <td  id="ctl00_sitemapbn6">
                                <table class="item ctl00_sitemapb_4" cellpadding="0" cellspacing="0" border="0" width="100%">
                                    <tr>
                                        <td style="white-space:nowrap;">
                                            <a class="ctl00_sitemapb_1 item ctl00_sitemapb_3" href="/index/teachers" style="border-style:none;font-size:1em;">教师博客</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td style="width:0px;">
                            </td>
                            <td style="width:0px;">
                            </td>
                            <td  id="ctl00_sitemapbn7">
                                <table class="item ctl00_sitemapb_4" cellpadding="0" cellspacing="0" border="0" width="100%">
                                    <tr>
                                        <td style="white-space:nowrap;">
                                            <a class="ctl00_sitemapb_1 item ctl00_sitemapb_3" target="_blank" href="/admin/panel" style="border-style:none;font-size:1em;">网站注册</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td style="width:0px;">
                            </td>
                            <td style="width:0px;">
                            </td>
                            <td id="ctl00_sitemapbn8">
                                <table class="item ctl00_sitemapb_4" cellpadding="0" cellspacing="0" border="0" width="100%">
                                    <tr>
                                        <td style="white-space:nowrap;">
                                            <a class="ctl00_sitemapb_1 item ctl00_sitemapb_3" href="/index/faq" target="_blank" style="border-style:none;font-size:1em;">F&Q</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td style="width:0px;">
                            </td>
                            <td style="width:0px;">
                            </td>
                            <td  id="ctl00_sitemapbn9">
                                <table class="item ctl00_sitemapb_4" cellpadding="0" cellspacing="0" border="0" width="100%">
                                    <tr>
                                        <td style="white-space:nowrap;">
                                            <a class="ctl00_sitemapb_1 item ctl00_sitemapb_3" href="/blog" style="border-style:none;font-size:1em;">blog</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td style="width:0px;">
                            </td>
                        </tr>
                    </table>
					
                    <!-- 版权部分 -->
                    <div class="copyright">
                        <div style="text-align: center;">
                            颗米软件工程师(贵阳)培训  客服电话： 13984860374&nbsp;&nbsp;E-Mail：training.gy (AT) gmail.com
                        </div>
                        <div style="text-align: center;">
                           颗米教育&copy;2012&nbsp;&nbsp;本站使用RUBY&nbspON&nbspRAILS搭建&nbsp;&nbsp;黔ICP备12004119号-1
                        </div>
						
						
                    </div>
                </div>
				<!-- 页脚部分 END -->
            </div>
            <!-- 页面部分page div 到此结束 -->
			
    </body>
</html>

