<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Blog | 杨昌明的美好生活</title>
 
  <% if use_yahei_font?(request.env["HTTP_USER_AGENT"]) %>
      <%= stylesheet_link_tag "font","application","front","blog" %>
  <% else %>
      <%= stylesheet_link_tag "font_no_cleartype","application","front","blog" %>
  <% end %>



  <style type="text/css">
    .recentcomments a{
      display:inline !important;padding:0 !important;margin:0 !important;
    }
  </style>

  <script type="text/javascript">
  	var _gaq = _gaq || [];
  	_gaq.push(['_setAccount', 'UA-36330309-1']);
  	_gaq.push(['_trackPageview']);
  	(function() {
   	 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
 	 })();
  </script>

</head>

<body class="home blog single-author two-column right-sidebar">
  <div id="page" class="hfeed">
    <header id="branding" role="banner">
      <hgroup>
        <div id="site-title">
          <span>          
         	 ChangMing.Y
          </span>
        </div>
        <div id="site-description">{&nbsp;Just personal site&nbsp;}</div>
      </hgroup>

     <img src="/images/banner.jpg" width="1000" height="288" ></img>
     	
   <form method="get" id="searchform" action="#">
        <label for="s" class="assistive-text">Search</label>
        <input type="text" class="field" name="s" id="s" placeholder="Search" />
        <input type="submit" class="submit" name="submit" id="searchsubmit" value="Search" />
      </form>

      <nav id="access" role="navigation">
        <h3 class="assistive-text">Main menu</h3>
        <div class="skip-link"><a class="assistive-text" href="#content" title="Skip to primary content">Skip to primary content</a></div>
        <div class="skip-link"><a class="assistive-text" href="#secondary" title="Skip to secondary content">Skip to secondary content</a></div>
        <div class="menu">
          <ul>
            <li class="current_page_item">
              <%= link_to 'Home', {:controller=>'blog',:action=>'index'} %>
            </li>
            <li class="page_item page-item-2">
              <%= link_to 'About', {:controller=>'blog',:action=>'about'} %>
            </li>
          </ul>
        </div>
      </nav><!-- #access -->
    </header><!-- #branding -->

    <div id="main">
      <div id="primary">
        <div id="content" role="main">
          <%= yield %>
        </div><!-- #content -->
      </div><!-- #primary -->

      <div id="secondary" class="widget-area" role="complementary">
	
       <!--  <aside id="recent-posts-2" class="widget widget_recent_entries">
          <h3 class="widget-title">Recent Posts</h3>
          <ul>
         <% @recent_post.each do |recent_post| %> 
            <li><%= link_to recent_post.title,{:controller=>'blog',:action=>'show',:id=>recent_post.id } %></li>
          <% end %>
          </ul>
        </aside> -->


        <aside id="recent-comments-2" class="widget widget_recent_comments">
          <h3 class="widget-title">Recent Comments</h3>
          <ul id="recentcomments">
            <li class="recentcomments">
              <a href='#' rel='external nofollow' class='url'>No comments</a>     </li>
          </ul>
        </aside>
        <!-- <aside id="archives-2" class="widget widget_archive">
          <h3 class="widget-title">Archives</h3>
          <ul>
            <li><a href='#' title='May 2012'>Oct 2012</a>  </li>
          </ul>
        </aside> -->
        <aside id="categories-2" class="widget widget_categories">
          <h3 class="widget-title">Categories</h3>
          <ul>
            <li class="cat-item cat-item-1">
              <a href="#" title="View all posts filed under Uncategorized">Netty</a>
            </li>
            <li class="cat-item cat-item-1">
              <a href="#" title="View all posts filed under Uncategorized">聊天</a>
            </li>
            <li class="cat-item cat-item-1">
              <a href="#" title="View all posts filed under Uncategorized">生活</a>
            </li>
            <li class="cat-item cat-item-1">
              <a href="#" title="View all posts filed under Uncategorized">git</a>
            </li>
            <li class="cat-item cat-item-1">
              <a href="#" title="View all posts filed under Uncategorized">回家</a>
            </li>
            <li class="cat-item cat-item-1">
              <a href="#" title="View all posts filed under Uncategorized">Linux</a>
            </li>
          </ul>
        </aside>

        <!-- <aside id="meta-2" class="widget widget_meta">
          <h3 class="widget-title">Meta</h3>
          <ul>
            <li>
              <a href="#">Entries <abbr title="Really Simple Syndication">RSS</abbr></a></li>
            <li>
              <a href="#">Comments <abbr title="Really Simple Syndication">RSS</abbr></a>
            </li>
            
          </ul>
        </aside> -->
        
      </div><!-- #secondary .widget-area -->
    </div><!-- #main -->

    <footer id="colophon" role="contentinfo">
      <div id="site-generator">
        Proudly Powered By&nbsp;<a target="_blank" href="http://weibo.com/changmingy">@昌明点杨</a> <br/>
        &copy;2015&nbsp;&nbsp;Base on Rails
      </div>
    </footer><!-- #colophon -->
</div><!-- #page -->

</body>
</html>

