<!DOCTYPE html>
<html>
<head>
  <title> 后台 | 杨昌明的美好生活 </title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>

  <%= stylesheet_link_tag "application", "cpanel", "wice_grid" ,"facebox"%>
  <%= javascript_include_tag "jquery.min.js", "rails.js", "wice_grid.js", "posts.js" ,"facebox.js", "jquery.jdialog.js" %>

</head>
<body>
<div id="header">
  <div class="container">
    <table>
      <tr>
        <td id="app_name">

        </td>
        <td id="nav">
          <a href="<%= cpanel_users_path %>">用户</a> |
          <a href="<%= cpanel_comments_path %>">评论</a> |
          <a href="<%= cpanel_posts_path %>">文章</a>

          <%- #     <a href="<%= cpanel_answers_path  %>">回答</a> | -%>

        </td>
        <td id="user_bar">
          <% if session[:user] %>
              你好 <strong><%= session[:user].username %></strong> <a href="/logout">登出</a>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
</div>
<div id="sitemap">
  <div class="container">
    导航:
    <a href="<%= cpanel_posts_path  %>">控制台</a> &gt;  <%= yield :sitemap %>
  </div>
</div>

<div id="main">

  <div class="container">

    <!--暂时屏蔽掉消息通知功能-->
    <% if false %>

    <% if !notice.blank? %>
        <div class="notice_message"><%= notice %></div>
        <script type="text/javascript">
            $(".notice_message").fadeOut().fadeIn();
        </script>
    <% end %>
    <% if !alert.blank? %>
        <div class="alert_message"><%= alert %></div>
        <script type="text/javascript">
            $(".alert_message").fadeOut().fadeIn();
        </script>
    <% end %>

    <% end %>

    <%= yield %>

  </div>
</div>

<div id="footer" class="container">
  <div class="container">
    <%- #   <%= raw Setting.foot_html %> -%>

  </div>
</div>
</body>
</html> 
