<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html dir="ltr" lang="en-US">
<!--<![endif]-->
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Blog | 杨昌明的扯淡生活</title>
 
<!-- syntaxHighlighter3.0.83 setup begining -->
<link type="text/css" rel="stylesheet" href="/javascripts/syntaxhighlighter_3.0.83/styles/shCoreDefault.css"/>
<script type="text/javascript" src="/javascripts/syntaxhighlighter_3.0.83/scripts/shCore.js"></script>
<script type="text/javascript" src="/javascripts/syntaxhighlighter_3.0.83/scripts/shBrushJScript.js"></script>
<script type="text/javascript" src="/javascripts/syntaxhighlighter_3.0.83/scripts/shBrushAS3.js"></script>
<script type="text/javascript" src="/javascripts/syntaxhighlighter_3.0.83/scripts/shBrushBash.js"></script>
<script type="text/javascript" src="/javascripts/syntaxhighlighter_3.0.83/scripts/shBrushCpp.js"></script>
<script type="text/javascript" src="/javascripts/syntaxhighlighter_3.0.83/scripts/shBrushDelphi.js"></script>
<script type="text/javascript" src="/javascripts/syntaxhighlighter_3.0.83/scripts/shBrushCss.js"></script>
<script type="text/javascript" src="/javascripts/syntaxhighlighter_3.0.83/scripts/shBrushJava.js"></script>
<script type="text/javascript" src="/javascripts/syntaxhighlighter_3.0.83/scripts/shBrushPerl.js"></script>
<script type="text/javascript" src="/javascripts/syntaxhighlighter_3.0.83/scripts/shBrushRuby.js"></script>
<script type="text/javascript" src="/javascripts/syntaxhighlighter_3.0.83/scripts/shBrushSql.js"></script>
<script type="text/javascript" src="/javascripts/syntaxhighlighter_3.0.83/scripts/shBrushVb.js"></script>
<script type="text/javascript" src="/javascripts/syntaxhighlighter_3.0.83/scripts/shBrushRuby.js"></script>
<script type="text/javascript" src="/javascripts/syntaxhighlighter_3.0.83/scripts/shBrushPhp.js"></script>
<script type="text/javascript" src="/javascripts/syntaxhighlighter_3.0.83/scripts/shBrushXml.js"></script>

<!--
<script src="type="text/javascript" /javascripts/syntaxhighlighter_3.0.83/scripts/shAutoloader.js" ></script>
  SyntaxHighlighter.autoloader(
    'js jscript javascript  /javascripts/syntaxhighlighter_3.0.83/scripts/shBrushJScript.js',
    'java                   /javascripts/syntaxhighlighter_3.0.83/scripts/shBrushJava.js'
  );
-->

<script type="text/javascript">  
  SyntaxHighlighter.all();  
</script>  
<!-- syntaxHighlighter3.0.83 setup end -->    
  
  
<link rel="profile" href="http://gmpg.org/xfn/11" />
  <%= stylesheet_link_tag "blog" %>
  <%= javascript_include_tag "application" %>

  <link rel="pingback" href="#" />

  <style type="text/css">
    .recentcomments a{
      display:inline !important;padding:0 !important;margin:0 !important;
    }
  </style>

	<script type="text/javascript">
  		var _gaq = _gaq || [];
  	_gaq.push(['_setAccount', 'UA-36330309-1']);
  	_gaq.push(['_trackPageview']);
  	(function() {
   	 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
 	 })();

	</script>

</head>

<body class="home blog single-author two-column right-sidebar">
  <div id="page" class="hfeed">
    <header id="branding" role="banner">
      <hgroup>
        <h1 id="site-title">
          <span>          
         	 ChangMing.Y
          </span>
        </h1>
        <h2 id="site-description">{&nbsp;Just personal site&nbsp;}</h2>
      </hgroup>

     <img src="/images/_trolley.jpg" width="1000" height="288" ></img>
     	
   <form method="get" id="searchform" action="#">
        <label for="s" class="assistive-text">Search</label>
        <input type="text" class="field" name="s" id="s" placeholder="Search" />
        <input type="submit" class="submit" name="submit" id="searchsubmit" value="Search" />
      </form>

      <nav id="access" role="navigation">
        <h3 class="assistive-text">Main menu</h3>
        <div class="skip-link"><a class="assistive-text" href="#content" title="Skip to primary content">Skip to primary content</a></div>
        <div class="skip-link"><a class="assistive-text" href="#secondary" title="Skip to secondary content">Skip to secondary content</a></div>
        <div class="menu">
          <ul>
            <li class="current_page_item">
              <%= link_to 'Home', {:controller=>'blog',:action=>'index'} %>
            </li>
            <li class="page_item page-item-2">
              <%= link_to 'About', {:controller=>'blog',:action=>'about'} %>
            </li>    
          </ul>
        </div>
      </nav><!-- #access -->
    </header><!-- #branding -->

    <!-- main beging -->
    <div id="main">

      <div id="primary">
        <div id="post_content" role="main">
          <%= yield %>
        </div><!-- #content -->
      </div><!-- #primary -->



      <!-- right side  -->
      <!--
      <div id="secondary" class="widget-area" role="complementary">
				        
        <aside id="recent-posts-2" class="widget widget_recent_entries">
          <h3 class="widget-title">Recent Posts</h3>
          <ul>

         <% @recent_post.each do |recent_post| %> 
            <li><%= link_to recent_post.title,{:controller=>'blog',:action=>'show',:id=>recent_post.id } %></li>
          <% end %>

          </ul>
        </aside>
        <aside id="recent-comments-2" class="widget widget_recent_comments">
          <h3 class="widget-title">Recent Comments</h3>
          <ul id="recentcomments">
            <li class="recentcomments">
              <a href='#' rel='external nofollow' class='url'>No comments</a>     </li>
          </ul>
        </aside>
        <aside id="archives-2" class="widget widget_archive">
          <h3 class="widget-title">Archives</h3>
          <ul>
            <li><a href='#' title='May 2012'>Oct 2012</a>  </li>
          </ul>
        </aside>
        <aside id="categories-2" class="widget widget_categories">
          <h3 class="widget-title">Categories</h3>
          <ul>
            <li class="cat-item cat-item-1">
              <a href="#" title="View all posts filed under Uncategorized">Blog</a>
            </li>
            <li class="cat-item cat-item-1">
              <a href="#" title="View all posts filed under Uncategorized">IKermi</a>
            </li>
          </ul>
        </aside>
        <aside id="meta-2" class="widget widget_meta">
          <h3 class="widget-title">Meta</h3>
          <ul>
            <li>   
            	<%= link_to 'Log in',{:controller=>'admin',:action=>'index'} %>
            </li>
            <li><a href="#" title="Syndicate this site using RSS 2.0">Entries <abbr title="Really Simple Syndication">RSS</abbr></a></li>
            <li><a href="#" title="The latest comments to all posts in RSS">Comments <abbr title="Really Simple Syndication">RSS</abbr></a></li>
            <li><a href="/" title="Powered by RedPress, state-of-the-art semantic personal publishing platform.">IKermi.com</a></li>
          </ul>
        </aside>

      </div>
  -->

    </div>
    <!-- main end -->





    <footer id="colophon" role="contentinfo">
      <div id="site-generator">
        Proudly Powered By&nbsp;<a target="_blank" href="http://weibo.com/changmingy">@昌明点杨</a> <br/>
        &nbsp;&nbsp;黔ICP备12004119号-1 &nbsp;&nbsp;Base on Rails
      </div>
    </footer>

</div><!-- #page -->

</body>
</html>

