<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Blog | 杨昌明的美好生活</title>

<link href="http://cdn.staticfile.org/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">

  <% if use_yahei_font?(request.env["HTTP_USER_AGENT"]) %>
      <%= stylesheet_link_tag "font","application","front","blog" %>
  <% else %>
      <%= stylesheet_link_tag "font_no_cleartype","application","front","blog" %>
  <% end %>



  <style type="text/css">
    .recentcomments a{
      display:inline !important;padding:0 !important;margin:0 !important;
    }
  </style>

	<script type="text/javascript">
  		var _gaq = _gaq || [];
  	_gaq.push(['_setAccount', 'UA-36330309-1']);
  	_gaq.push(['_trackPageview']);
  	(function() {
   	 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
 	 })();

	</script>

</head>

<body class="home blog single-author two-column right-sidebar">
  <div id="page" class="hfeed">
    <header id="branding" role="banner">
      
      <!-- <hgroup>
        <h1 id="site-title">
          <span>          
         	 ChangMing.Y
          </span>
        </h1>
        <h2 id="site-description">{&nbsp;Just personal site&nbsp;}</h2>
      </hgroup> -->

     <!-- <img src="/images/_trolley.jpg" width="1000" height="288" ></img> -->
     	
      <!-- <nav id="access" role="navigation">
        <h3 class="assistive-text">Main menu</h3>
        <div class="skip-link"><a class="assistive-text" href="#content" title="Skip to primary content">Skip to primary content</a></div>
        <div class="skip-link"><a class="assistive-text" href="#secondary" title="Skip to secondary content">Skip to secondary content</a></div>
        <div class="menu">
          <ul>
            <li class="current_page_item">
              <%= link_to 'Home', {:controller=>'blog',:action=>'index'} %>
            </li>
            <li class="page_item page-item-2">
              <%= link_to 'About', {:controller=>'blog',:action=>'about'} %>
            </li>    
          </ul>
        </div>
      </nav> -->

    </header><!-- #branding -->

    <!-- main beging -->
    <div id="main">

      <div id="primary">
        <div id="post_content" role="main">
          <%= yield %>
        </div><!-- #content -->
      </div><!-- #primary -->
      
    </div>
    <!-- main end -->

    
    <footer id="colophon" role="contentinfo">
      <div id="site-generator">
        Proudly Powered By&nbsp;<a target="_blank" href="http://weibo.com/changmingy">@昌明点杨</a> <br/>
        &nbsp;&nbsp;黔ICP备12004119号-1 &nbsp;&nbsp;Base on Rails
      </div>
    </footer>

</div><!-- #page -->

</body>
</html>

